/*use border-box*/

* {
  box-sizing: border-box;
}

/*set line height and font*/
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Manrope", "Times New Roman", "sans-serif";
  background-color: var(--white);
  color: var(--dark-blue)
}

/*Add Lora as heading font*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", "Times New Roman", "serif";
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}
/*set color scheme*/
:root {
  --dark-red: #780000;
  --light-red: #C1121F;
  --white: #FDF0D5;
  --dark-blue: #003049;
  --light-blue: #669BBC;
}

/*Imrpove media defaults*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}


/*link styling*/
a {
  text-decoration: none;
  color: var(--dark-blue);
}
/*pseudo-class link*/
a:hover {
  color: var(--dark-red);
  cursor: pointer;
}

a:visited {
  color: none;
}
